<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="menu">
<head>
    <meta charset="UTF-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" type="text/css" th:href="@{/css/admin_menu.css}">

</head>
<body>
<!-- 메뉴 Fragment -->
<div class="menu">
    <a href="/siteinfo" class="menu-item">사이트 기본설정</a>
    <a href="/admin_list" class="menu-item">회원관리</a>
    <a href="/notice" class="menu-item">공지사항</a>
    <a href="/product_list" class="menu-item">항공편 관리</a>
    <a href="/code_list" class="menu-item">항공 코드 관리</a>
    <a href="/resvinfo/settings" class="menu-item">좌석 및 예약설정</a>
    <a href="/ticket/list" class="menu-item">예매 리스트</a>
    <a href="/air-faq/list" class="menu-item">고객관리 FAQ</a>
</div>

</body>
</th:block>
</html>