<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.air.mapper.TicketMapper">

<resultMap type="kr.co.air.dtos.ResvDto" id="resvMap">
    <id property="AIR_RSNO" column="AIR_RSNO"/>
    <result property="AIR_RSPART" column="AIR_RSPART"/>
    <result property="AIR_DEPARTNM" column="AIR_DEPARTNM"/>
    <result property="AIR_ARRIVNM" column="AIR_ARRIVNM"/>
    <result property="DEPART_DATE" column="DEPART_DATE"/>
    <result property="ARRIVAL_DATE" column="ARRIVAL_DATE"/>
    <result property="AIR_SEAT" column="AIR_SEAT"/>
    <result property="P_CODE" column="P_CODE"/>
    <result property="ADULT" column="ADULT"/>
    <result property="CHILDREN1" column="CHILDREN1"/>
    <result property="CHILDREN2" column="CHILDREN2"/>
    <result property="totalPrice" column="TOTAL_PRICE"/>
    <result property="AIR_USERNAME" column="AIR_USERNAME"/>
    <result property="RESERVATION_DATE" column="RESERVATION_DATE"/>
    
    <result property="AIRPORT_CD" column="AIRPORT_CD"/>
    <result property="AIRLINE_NM" column="AIRLINE_NM"/>
    <result property="FLIGHT_CD" column="FLIGHT_CD"/>
</resultMap>

<select id="findReservationsByName" parameterType="map" resultMap="resvMap">
    SELECT
        ar.AIR_RSNO,
        ar.AIR_RSPART,
        ar.AIR_DEPARTNM,
        ar.AIR_ARRIVNM,
        ar.DEPART_DATE,
        ar.ARRIVAL_DATE,
        ar.AIR_SEAT,
        ar.RESERVATION_DATE,
        ar.P_CODE,
        ar.ADULT,
        ar.CHILDREN1,
        ar.CHILDREN2,
        ar.TOTAL_PRICE,
        ar.AIR_USERNAME,
        fs.AIRPORT_CD,
        fs.AIRLINE_NM,
        fs.FLIGHT_CD
    FROM AIR_RESERVATION ar
    LEFT JOIN FLIGHT_SCHEDULES fs ON ar.AIR_DEPARTNM = fs.DEPARTURE_NM 
                                  AND ar.AIR_ARRIVNM = fs.ARRIVAL_NM
	    <where>
	        <if test="searchKeyword != null and searchKeyword != ''">
	            <choose>
	                <when test="searchType == 'userName'">
	                    AND AIR_USERNAME LIKE CONCAT('%', #{searchKeyword}, '%')
	                </when>
	            </choose>
	        </if>
	    </where>
    ORDER BY AIR_RSNO DESC
</select>

<!--      -->
<delete id="deleteReservationById" parameterType="java.util.List">
    DELETE FROM AIR_RESERVATION 
    WHERE AIR_RSNO IN 
    <foreach item="id" collection="list" open="(" separator="," close=")">
        #{id}
    </foreach>
</delete>

</mapper>